<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>315849277983-3a926a2qqejtdbit15ngjbcjgr0634b6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.315849277983-3a926a2qqejtdbit15ngjbcjgr0634b6</string>
	<key>API_KEY</key>
	<string>AIzaSyAeR7MHkF5tnvk0k_Ww2Sb4nHiUMMGJoaw</string>
	<key>GCM_SENDER_ID</key>
	<string>315849277983</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>de.german123</string>
	<key>PROJECT_ID</key>
	<string>German123-62e79</string>
	<key>STORAGE_BUCKET</key>
	<string>German123-62e79.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:315849277983:ios:6f428dc437b5c8afee4b2a</string>
</dict>
</plist>